/*! CSS bare bones for recipes site */

@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');

 html {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

*  {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* the rest is up to you */

h1{
  font-family: 'Jost', sans-serif;
  color: brown;
  margin-bottom: 12px;

}

h2{color: rgb(195, 90, 48);
margin: 50px 0 20px 0;}

nav{background-color: brown;;}

a:link    { color:  brown; text-decoration: none; }
a:visited { color:  brown; text-decoration: none; }
a:hover   { color:  brown;; text-decoration: none; }
a:active  { color:  brown; text-decoration: none; }



p{
  color: brown;
  margin-bottom: 1em;
}

body{ background-image:url(https://i.ibb.co/qJ3cNNy/Blue-Green-Watercolor-Linktree-Background-2.png) ;
  font-size: 20px;
  font-family: 'Hind Siliguri', sans-serif;
  background-position: center;
  line-height: 1.5;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  }
  

main{
  width: 60%;
  max-width: 850px;
  border: 1px solid purple;
  padding: 0 12px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

img{
  width: 100%;
  /* float: right; */
}

ul{
  margin-left: 12px;
  columns: 2;
  column-rule: 1px solid rgb(195, 90, 48); 
}

li{
  font-size: .8em;
  margin-bottom: 12px;
  list-style-position: inside;
}

.site-title{text-align: center ;}
.caption {
  font-size: .8em;
  /* float:right; */
  width: 100%;
  margin-bottom: 20px;
  display: block;
  text-align: center;
}
